<header class="container lg">
    <nav>
        <ul role="list">
            <li><a href="/" class="logo">AL🍂</a></li>
        </ul>
        <ul role="list">
            <li><a href="/explore/">Explore</a></li>
            <li><a href="/about/">About</a></li>
            <li>
                @!ui.toggle()
            </li>
        </ul>
    </nav>
</header>