<header class="container lg">
    <nav>
        <ul role="list">
            <li>
                <a href="/" class="logo" aria-label="Enlace a la página de inicio">🍂</a>
            </li>
        </ul>
        <ul role="list">
            <li>
                <a href="/explora/">Explora</a>
            </li>
            <li>
                <a href="/el-menda/">El menda</a>
            </li>
            <li>
                @!ui.toggle()
            </li>
        </ul>
    </nav>
</header>