@let(baseSrc = `/resources/images/${ src.startsWith("/") ? src.slice(1) : src }/img_`)

<img 
    srcset="{{ baseSrc }}md.webp 700w, {{ baseSrc }}sm.webp 411w"
    sizes="(min-width: 1000px) 700px, 100%"
    alt="{{ alt }}"
    width="750"
    height="562">