<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }} | Al's garden</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🍂</text></svg>" />
    <meta name="description" content="{{ post.description }}">
    {{{ $.css("pages/common") }}}
    {{{ $.css("pages/post") }}}

    {{{ $.js("pages/common") }}}
    {{{ $.js("pages/post") }}}
</head>

<body>
    @!ui.header()
    <main>
        <article class="flow">
            <h1>{{ post.title }}</h1>
            <p class="lede">{{ post.description }}</p>
            @!image({ src: `blog/${post.image.url}`, alt: post.image.alt })
            {{{ content }}}
        </article>
    </main>
    @!ui.footer()
</body>

</html>