<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }} | El jardín de Al</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🍂</text></svg>" />
    <meta name="description" content="{{ post.description }}">
    {{{ $.css("pages/common") }}}
    {{{ $.css("pages/post") }}}

    {{{ $.js("pages/common") }}}
</head>

<body>
    @!ui.header()
    <view-partial script="{{ $.asset("js/pages/post.js") }}">
    <main>
            <article class="flow">
                <h1>{{ post.title }}</h1>
                <p class="lede">{{ post.description }}</p>
                <p class="pub-date">
                    <strong>{{ new Intl.DateTimeFormat("es-ES", { dateStyle: "short" }).format(post.pubDate)
                        }} | {{ post.author }}</strong>
                    @if(post.updatedDate)
                    <strong>| Actualizado el {{ new Intl.DateTimeFormat("es-ES", { dateStyle: "short"
                        }).format(post.updatedDate)
                        }}</strong>
                    @end
                </p>
                @!image({ src: `blog/${post.image.url}`, alt: post.image.alt })
                {{{ content }}}
            </article>
        </main>
    </view-partial>
    @!ui.footer()
</body>

</html>