<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{$helpers.asset("css/main.css") }}">
</head>

<body>
   <main>
       <article class="flow">
         <h1>{{ post.title }}</h1>
        <p class="lede">{{ post.description }}</p>
        @!image({ src: "blog/with-humans-i-stand", alt: "test "})
        {{{ content }}}
       </article>
   </main>
</body>

</html>