@let(displayTitle = titleCase(tag).replaceAll("-", " "))

@layouts.main({ title: displayTitle })
@slot('styles')
{{{ $.css("pages/home") }}}
@end

<section class="hero">
    <h1>{{ displayTitle }}</h1>
</section>
<section>
    <a href="/explore/">&larr; Atrás</a>
    @!posts({ posts })
</section>
@end