@layouts.main({ title: "Explora" })
@slot('styles')
{{{ $.css('pages/home') }}}
@end

<section class="hero">
    <h1>Busca por categoría</h1>
</section>
<ul role="list" class="grid">
    @each(tag in tags)
    <li class="card">
        <view-link>
            <a href="/explora/{{ tag }}/">
                {{ titleCase(tag).replaceAll("-", " ") }}
            </a>
        </view-link>
    </li>
    @end
</ul>
@end