@layouts.main()
    @slot('styles')
        {{{ $.css('pages/home') }}}
    @end

    <section class="hero">
        <h1>Hola :)</h1>
        <p class="lede">
            Las opiniones aquí expuestas son <strong>mías</strong> y de nadie más, aunque secretamente espero que también te representen a ti.
        </p>
    </section>
    <section>
        <h2>Artículos más recientes</h2>
        @!posts({ posts })
    </section>
@end