/* Credits: https://piccalil.li/blog/some-simple-ways-to-make-content-look-good/ */

body {
  background: var(--color-bg);
  color: var(--color-text);
  padding: 2em;
  font-family: Georgia, serif;
  font-size: var(--size-step-0);
  line-height: 1.7;
}

h1,
h2,
h3 {
  font-family: system-ui, sans-serif;
  font-weight: 800;
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--size-step-4);
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

ul,
ol {
  padding-inline-start: 1em;
}

blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--size-step-1);
}

::selection {
  background-color: var(--color-highlight);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

article,
.container {
  max-width: 750px;
  margin-inline: auto;
}

.container.lg {
  max-width: 950px;
}

a:not(.logo) {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.3ex;
}

.lede {
  font-size: var(--size-step-1);
  font-style: italic;
  text-wrap: balance;
}

.lede + * {
  --flow-space: 2em;
}
